.md-typeset .tabbed-set {
    border: 1.75px solid #373a41;
}

.md-typeset .tabbed-content {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Maximum space for text block */
/* .md-grid {
    max-width: 50%;
}  */